body {}

/*
 *
 *Color Fixes
 *
 */

/* Backgrounds */
body,
.list-group-item {
  background-color: #000;
}
.hero-clean {
  background: transparent;
}
/* Typography */
h1, h2, h3, h4, h5, h6,
#body-content .article-main-title,
.category-main-title,
.main-section.container_for_general_settigns_formatting h5,
.main-section.container_for_general_settigns_formatting .h5,
.main-section.container_for_general_settigns_formatting h4,
.main-section.container_for_general_settigns_formatting .h4,
.main-section.container_for_general_settigns_formatting h3,
.main-section.container_for_general_settigns_formatting .h3,
.main-section.container_for_general_settigns_formatting h2,
.main-section.container_for_general_settigns_formatting .h2,
.main-section.container_for_general_settigns_formatting h1,
.main-section.container_for_general_settigns_formatting .h1 {
  color: #fff;
}
p,
.main-section.container_for_general_settigns_formatting p,
.main-section.container_for_general_settigns_formatting a,
.main-section.container_for_general_settigns_formatting a p {
  color: #fff;
}
a {
  color: #999;
}
a:hover {
  color: #fff;
}
.text-muted {
  color: #ddd !important;
}
.navigation li a {
  color: #fff;
}
.menu-box ul li ul {
  background: #444;
}
.is-sticky .for-sticky {
  background: #111 none repeat scroll 0 0;
}
.clean-header .is-sticky .for-sticky {
  box-shadow: 0 0 5px 0 #444;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.black-btn {
  border: 1px solid #fff;
}
.border-top {
  border-top: 1px solid #242424;
}
.border         { border: 1px solid #242424 !important; }
.border-top     { border-top: 1px solid #242424 !important; }
.border-right   { border-right: 1px solid #242424 !important; }
.border-bottom  { border-bottom: 1px solid #242424 !important; }
.border-left { border-left: 1px solid #242424 !important; }
.port-filter a {
  background: #000;
}
.port-filter a.active {
  color: #000;
  background: #fff;
}
.port-filter a:hover {
  color: #000;
}
.port-filter a::after {
  background: #fff;
}
.footer a {
  color: rgba(255, 255, 255, 0.6);
}
.footer p {
  color: #eee;
}



/*
 *
 * Section Styles
 *
 */

/* admin menubar */
body.is_admin {
  padding-top: 58px;
}
.admin_top_bar {
  position: absolute;
  top: 0;
}

.hero-box--fullwidth {
  max-width: 100%;
}

/* Hide default nav */
#top-container {
  height: 0;
  width: 0;
  opacity: 0;
  display: none;
}

/* Header Nav & Main Menus */
.header.home-section .nav-head {
  height: 100vh;
}
.header.home-section .logo {
  max-width: 90%;
}
.header.home-section .logo img.logo1 {
  max-width: 1280px;
}
body.homepages #homepageNav,
body.homepages_members #homepageNav {
  display: block !important;
  background-color: #000;
}
#homepageNav .menu-box {
  border-bottom: none;
  border-top: none;
  text-align: center;
  color: #fff;
  background-color: #000;
  position: relative;
  display: table !important;
  width: auto;
  xx-margin: -113px auto 0;
  margin: -7rem auto 0;
}
#homepageNav .navigation > li > a {
  color: #fff;
  font-size: 2rem;
  opacity: 0.7;
}
body.homepages #headerNav,
body.homepages_members #headerNav {
  xx-display: none; /* changed to display topbar menu on homepage after all */
}
#headerNav .navigation li a {
  opacity: 0.6;
}
#headerNav .navigation li.sbt-secondary a {
  text-transform: lowercase;
  font-weight: normal;
  padding-right: 50%;
  opacity: 0.4;
}
.home-h100 {
  height: 100vh;
}

.home-section--our-mission {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('//sh-sbtadmin.s3.us-west-2.amazonaws.com/images/87_DSC_6402relo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  #headerNav .for-sticky > .container-fluid {
    width: 80%;
  }
}



body.is_member {}
body.categories {}
body.articles {}
body.store {}
body.contact {}
body#content__{}
/* END Header */

/* Footer Styles */
#footer-container {
  background-color: #000;
  display: none;
  opacity: 0;
}
.footer p {
  color: #939393;
}
.footer .footer-wigdet p {
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
}
.footer .footer-logo {
  max-width: 200px;
}
/* END Footer */


.container-fluid {
  max-width: 100%;
  width: 100%;
}

.category-main-title {
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  text-align: center;
  background-color: #000;
  display: table;
  position: relative;
  padding: 0 1em;
}

.sbt-box {
  border: 4px solid #ddd;
  padding: 4rem 2rem 1rem;
  margin-top: -50px;
  text-align: center;
}
.sbt-box .content-box-title {
  padding-left: 0;
}
.sbt-box .content-box-title::after {
  margin-left: auto;
  margin-right: auto;
}
.sbt-box .content-box-title i.fa {
  display: none;
}

.justify-content-center .content-box-title::after {
  margin-left: auto;
  margin-right: auto;
}

.font-weight-bold {
  font-weight: 800 !important;
}

.to-top {
  border: 1px solid #ddd;
}

/* Filter and search bar styles */
.filters-button-group {
  margin-bottom: 0;
}
ul.filters-button-group li {
  vertical-align: top;
}
ul.filters-button-group li input {
  border: 1px solid #eee;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 5px 40px;
  border-radius: 0;
}
ul.filters-button-group.search-only li input.quicksearch {
  min-width: 30rem;
}


/* Recent Content */
.recent-articles.image-title-description-layout.mt-5 {
  margin-top: 0 !important;
}
.recent-articles h3.recent-articles-title {
  display: none;
}



/* Card Deck and Cards for Recent Content */
.card-deck {}
.card { /* , .card * */
  margin: 0 !important;
  padding: 0 !important;
}
.card {
  width: 33.33333333% !important;
}
.recent-articles .card {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.card .card-body {
  overflow: hidden;
  position: relative;
  margin: 5px !important;
}
.card .card-body .recent-articles-image-container {
  display: block !important;
  position: relative !important;
  padding-top: 100% !important;
}
.card .card-body h6.card-title {
  display: block;
  height: 100%;
  left: 0;
  position: absolute !important;
  top: 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  webkit-transition: all 0.6s cubic-bezier(0.9, 0, 0.3, 1);
  -moz-transition: all 0.6s cubic-bezier(0.9, 0, 0.3, 1);
  -ms-transition: all 0.6s cubic-bezier(0.9, 0, 0.3, 1);
  -o-transition: all 0.6s cubic-bezier(0.9, 0, 0.3, 1);
  transition: all 0.6s cubic-bezier(0.9, 0, 0.3, 1);
}
.card .card-body h6.card-title a {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.card .card-body .recent-article-teaser-body {
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}
.card .card-body .recent-article-teaser-body::before {
  background: rgba(0,0,0,0.8) none repeat scroll 0 0;
  border-radius: 200px;
  content: "";
  display: block;
  height: 200px;
  left: -20%;
  margin-top: -100px;
  margin-left: -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  opacity: 0.3;
  z-index: -1;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.card .card-body:hover .recent-article-teaser-body::after,
.card .card-body:hover .recent-article-teaser-body::before {
  opacity:1;
  transform: scale(10);
  -ms-transform: scale(10);
  -webkit-transform: scale(10);
}
.card .card-body .recent-article-teaser-body::after {
  background: #000 none repeat scroll 0 0;
  border-radius: 200px;
  content: "";
  opacity: 0.3;
  display: block;
  height: 200px;
  left: -20%;
  margin-top: -100px;
  margin-left: -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  z-index: -1;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -webkit-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  transition-delay: 0.3s;
}
.card .card-body .recent-article-teaser-body .hide_images_in_container {
  margin: 0 30px;
  position: relative;
  top: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  transition-delay: 0.3s;
  transform: translateY(-70%) scale(0.4,0.4);
  -ms-transform: translateY(-70%) scale(0.4,0.4);
  -webkit-transform: translateY(-70%) scale(0.4,0.4);
  z-index: 1;
}
.card .card-body:hover .recent-article-teaser-body .hide_images_in_container {
  margin: 0 30px;
  position: relative;
  top: 50%;
  opacity:1;
  transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  z-index: 1;
}
/* make card title always visible */
.card .card-body .recent-article-teaser-body::after {
  background: rgba(0,0,0,0.6) none repeat scroll 0 0;
  transform: scale(10);
  -ms-transform: scale(10);
  -webkit-transform: scale(10);
  opacity: 1;
}
.card .card-body .recent-article-teaser-body .hide_images_in_container {
  opacity:1;
  transform: translateY(-50%) scale(1,1);
  -ms-transform: translateY(-50%) scale(1,1);
  -webkit-transform: translateY(-50%) scale(1,1);
}
.card .card-body .recent-article-teaser-body .hide_images_in_container h3 {
  color: #fff;
  font-size: 28px;
  margin: 0 0 10px;
}
.card .card-body .recent-article-teaser-body .hide_images_in_container p {
  font-family: quicksand;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #fff;
}
.card .card-footer {
  z-index: 2;
  -webkit-transition: all 0.5s cubic-bezier(0.5, 0, 0.4, 1);
  -moz-transition: all 0.5s cubic-bezier(0.5, 0, 0.4, 1);
  -ms-transition: all 0.5s cubic-bezier(0.5, 0, 0.4, 1);
  -o-transition: all 0.5s cubic-bezier(0.5, 0, 0.4, 1);
  transition: all 0.5s cubic-bezier(0.5, 0, 0.4, 1);
}



/* Article View */
.article-container .article-main-title {
  font-size: 60px;
  margin: 0 0 20px;
  text-transform: capitalize;
}
.article-container .article-body .first-sentence {
  display: block;
  font-family: quicksand;
  font-size: 22px;
  line-height: 1.5;
  color: #939393;
  margin-bottom: 3rem;
}
.article-container .hero-box .first-sentence {
  color: #939393;
}
.article-container .img-grid .grid-item.col-md-6 {
  padding-right: 0;
  padding-left: 0;
}
.article-container .img-grid .grid-item {
  max-height: 100vh;
  float: left;
}
.article-container .img-grid .grid-sizer {
  max-height: 100vh;
}
@media (min-width: 768px) {
  .article-container .img-grid .grid-item,
  .article-container .img-grid .grid-sizer {
    width: 47%;
    max-height: 100vh;
  }
  .article-container .img-grid .grid-item.grid-item--width2 {
    width: 94%;
  }
  .article-container .img-grid .grid-item.full-width {
    width: 80%;
  }
  .container-fluid.blog-wrapper {
    width: 80%;
  }
}
.article-container .img-grid .grid-item a {
  display: block;
  margin: 5px;
}
.content-box-title.collection-title h3 {
  font-size: 2.5rem;
}
.content-box-title.no-icon {
  padding-left: 0;
}
.port-filter.collection-filters-button-group {
  text-align: left;
}
.port-filter.collection-filters-button-group a.button {
  padding: 5px 30px;
}
.collection-item .item-more {
  margin-top: 3rem;
}

.blog-post {
  border-bottom: none;
}

/* Forms */
.form-control, .form-control.rounded, input[type="text"], input[type="password"], textarea {
  border-radius: 0;
  height: auto;
  font-size: 0.9rem;

  box-sizing: border-box;
  border: 1px solid #ddd;
  color: #888;
  line-height: inherit;
  padding: 8px 13px;
  width: 100%;
  background: #fff;
}

