body {
  background-color: #fff;
}

/* Filter and search bar styles */
.filters-button-group {
  margin-bottom: 0;
}
ul.filters-button-group li {
  vertical-align: top;
}
ul.filters-button-group li input {
  border: 1px solid #eee;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 5px 40px;
  border-radius: 0;
}


/* Recent Content */
.recent-articles.image-title-description-layout {
  margin-top: 0;
}
.recent-articles h3.recent-articles-title {
  display: none;
}